{% extends 'StriideTwitterbootstrapBundle:Modal:modal.html.twig' %}

{% block title %}
	{{ title|default("Modal") }}
{% endblock title %}
{% block modal_body_content %}
	<p>{{ message|default("Message") }}</p>
{% endblock modal_body_content %}

{% block modal_footer %}{% endblock %}
